<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="static/css/header1.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
        <title>Bachelor thesis</title>
    </head>
    <body id="page-top">
        <!--<h1>{{title}}</h1>-->

        {% include 'header.html' %}
        <div class="banner">
          {% load static %}
          <img id="home-wallpaper" src="{% static 'img/home-wallpaper.jpg' %}" alt="home">
          <div class="content">
            <h1>Tutoring manager</h1>
            <p>A Student-Teacher Portal</p>
          </div>
        </div>
       <!-- {% block headerContent %}
         replace me 
        {% endblock %}-->

    </body>
</html>