{% extends "base.html" %}

{% block headerContent %}
{% load static %}
<!-- Header Start -->    
<style>

  body{
    overflow-x: hidden;
  } 

#studentServices, #tutorServices{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  height: fit-content;
}

.left-div {
  flex: 1;
  margin-top: 2%;
}

.right-div {
  flex: 1;
  margin-top: 2%;
}

#courses > .card{
  flex: 1;
  margin: 3%;
}

.centerContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  
  .left-div, .right-div {
    flex: none;
    width: 100%;
    margin-top: 6%;
  }

  #courses > .card{
    flex: none;
    width: 100%;
    margin: 3%;
  }

  #logoHome{
    margin: 2%;
  }
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a id="logoHome" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" style="border-radius: 25%;" alt="..." height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#use-content">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#courses">Courses</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'register_student' %}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <!-- Header End -->
  {% endblock %}

  {%block bannerContent%}

  <div class="banner" style="background: #030405">
    {% load static %}
    <img id="home-wallpaper" src="{% static 'img/home-wallpaper.jpg' %}" alt="home">
    <div class="content">
      <h1>AcademicAce</h1>
      <hr style="width: 460px; height:2px; background-color: white; opacity: 0.99;">
      <p>A Student-Tutor Hub</p>
      <br>
      <button type="button" class="btn btn-light btn-lg">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'dashboard' %}">Join the hub</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Join the hub</a>
        {% endif %}
      </button>
    </div>
  </div>

  <div id="about">
    <h2>About Us</h2>
    <p>AcademicAce is an online hub for students and tutors to exchange materials and 
      information related to lectures of a particular course. This platform provides a convenient 
      and organized way for both parties to stay up-to-date and be engaged with the course material. 
      It simplifies the process of sharing and accessing relevant information, 
      fostering collaboration and facilitating communication between students and tutors.</p>
  </div>

  <div id="use-content">
    <h2>Our Services</h2>
  </div>

  <div id="studentServices">

    <div id="s1" class="left-div centerContent">
      <div>
      <div style="margin-bottom: 5%;">
        <i class="fa-solid fa-laptop fa-2xl" style="color: #e91e63;margin: 3%; display: inline;"></i>
        <h4 style="display: inline; letter-spacing: 2px;">What we offer to our students</h4>
      </div>
      <div style="margin:5%">
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Free enrollment to any of our courses</p>
        <br><br>
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Access to all lecture materials</p>
        <br><br>
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Ask questions in our Q&A section</p>
        <br><br>
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Submit assignment and receive direct feedback from instructors</p>
      </div>
    </div>
    </div>

    <div id="s2" class="right-div centerContent">
      <img src="{% static 'img/e-learning.png' %}" alt="e-learning" style="max-width: 300px;">
    </div>

  </div>

  <div id="tutorServices" style="margin-bottom: 2%;;">

    <div id="t1" class="left-div centerContent">
      <img src="{% static 'img/e-learning1.png' %}" alt="e-learning1" style="max-width: 200px;">
    </div>

    <div id="t2" class="right-div centerContent">
      <div>
      <div style="margin-bottom: 5%; min-width: 400px;">
        <i class="fa-solid fa-laptop fa-2xl" style="color: #e91e63;margin: 3%; display: inline;"></i>
        <h4 style="display: inline; letter-spacing: 2px;">What we offer to our instructors</h4>
      </div>
      <div style="margin:5%">
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Share lecture materials</p>
        <br><br>
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Communicate with students via the Q&A section</p>
        <br><br>
        <i class="fa-regular fa-circle" style="display: inline; margin-right: 2%;"></i>
        <p style="display: inline;">Upload and grade assignments</p>
      </div>
    </div>
    </div>
  
  </div>

  <div id="use-content">
    <h2>Our most popular courses</h2>
  </div>

  <div id="courses" class="row" style="height: fit-content; display: flex; justify-content: center;
                                       background-color: #00024f;">

      <div class="card" style="max-width: 300px; min-width: 60px; border-radius: 0px; height: 370px;
                               display: inline-block; background-color: #f0ebeb; border-radius: 20px;">
          <img class="card-img-top" src="media/courses_images/maths.jpg" alt="Card image" style="width: 100%;padding: 10px;">
          <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h4 class="card-title">Mathematic</h4>
            <p class="card-text">Introduction to mathematics,Functions,equations and inequations,absolute values, Trigonometry</p>
          </div>
      </div>

      <div class="card" style="max-width: 300px; min-width: 100px; border-radius: 0px;height: 370px;
                               display: inline-block; background-color: #f0ebeb; border-radius: 20px;">
          <img class="card-img-top" src="media/courses_images/default.jpg" alt="Card image" style="width: 100%;padding: 10px;">
          <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h4 class="card-title">Instroduction to programming</h4>
            <p class="card-text">The programming language: C.
              <span><br></span>
            Topics: Strings, Functions, Matrix, Classes, Structures</p>
          </div>
      </div>

      <div class="card" style="max-width: 300px; min-width: 100px; border-radius: 0px;height: 370px;
                               display: inline-block; background-color: #f0ebeb; border-radius: 20px;">
          <img class="card-img-top" src="media/courses_images/mathematic.jpg" alt="Card image" style="width: 100%;padding: 10px;">
          <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h4 class="card-title">Algebra</h4>
            <p class="card-text">Fundamentals of modern geometry,
               definitions of objects such as lines, planes and rotations.</p>
          </div>
      </div>


  </div>

  {% endblock %}