{% extends 'courses/base.html' %}
{% block registerUserContent %}

<div id="loginDiv">
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<div class="loginBox" style="background-color: white; border-radius: 15px; padding: 25px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
<h1>Log in</h1>
<br>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username:</label>
      <input type="text" class="form-control" name="usernameInput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password:</label>
      <input type="password" class="form-control" name="passwordInput">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>

</div>
{% endblock %}