{% extends 'courses/base.html' %}

{% block registerUserContent %}

{% if form.errors %}
<p>There was an error with your form...</p>
{% endif %}

<div class="loginBox" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 15px; padding: 25px;
                             background-color: white;">
    <h1>Register to <span style="color: rgb(20, 20, 173); font-weight:400;">AcademicAce</span></h1>
    <br>
<form action="{% url 'register_student' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
    {{ user_form.as_p }}
    {{ student_form.as_p }}
    </div>

    <input type='submit' class="btn btn-primary buttonColor" value='Register' />

</form>
</div>

<div style="height:100px"></div>

{% endblock %}