
<!--For loop answers-->
{% for answer in answers %}
<div class="d-flex flex-start" style="margin: 10px 0 10px 0; position: relative;">
  <i class="fa-solid fa-circle-user fa-3x" style="margin-right: 15px;"></i>
  <div>
    <h6 class="fw-bold mb-1" style="color: #2596be;">{{ answer.user.username }}</h6>
    <div class="d-flex align-items-center mb-3">
      <p class="mb-0" style="font-size: small;">
        {{ answer.created_at }}
      </p>
    </div>
    <p class="mb-0" style="max-width: 500px;word-wrap: break-word;">
      {{ answer.text }}
    </p>
  </div>
  <!--Delete-->
  {% if user.username == answer.user.username %}
  <div style="position: absolute; right:10px; top: 5px; width: auto;">
    <ul style="list-style-type: none;">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <form action="{% url 'view_questions_tutor' course_id=course.pk question_id=question.pk answer_id=answer.pk%}" method="POST">
              {% csrf_token %}
              <button class="dropdown-item" name="delete_answer_button" type="submit" value="Delete">Delete</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  {% endif %}
  <!--End Delete-->
</div>
<hr class="my-0" />
{% endfor %}
<!--End Foor Loop Answers-->