{% extends 'courses/course.html' %}

{% block courseContent%}

<!--Assignments-->
<div id="assignmentsDiv" class="positionCenter">

  {% if user.is_tutor %}
  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalUpload" style="width: 100%;">
      <i class="fa-solid fa-plus"></i>
      New Assignment
    </button>
  </div>
  {% endif %}

{% if course %}
  {% if assignment_form %}
  <!--Modal Create Assignment-->
  <div id="ModalUpload" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload a new assignment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    
        <div class="modal-body">

          <!--Create Assignment-->
          {% if user.is_tutor %}
          <form enctype="multipart/form-data" action="{% url 'assignment_overview' course_id=course.pk %}" method="POST">
              {% csrf_token %}
              <p style="font-size: large;"> <label >{{ assignment_form.name.label_tag }}</label> <br>{{ assignment_form.name }}</p>
              <p style="font-size: large;"> <label >{{ assignment_form.file_assignment.label_tag }}</label> <br></p>
              <p>{{ assignment_form.file_assignment }}</p>
              <button type="submit" class="btn btn-primary" name="assignment_upload_button">Upload</button>
          </form>
          {% endif %}
        <!--End Create Assignment-->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <!--End Modal Create Assignement-->
  {% endif %}

{% load tag %}
{% getAssignments course as assignments%}
  {% if assignments|length == 0 %}
          <h2 style="text-align: center;">There are no assignments!</h2>
  {% else %}
  <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          {% if user.is_student %}
            <th scope="col">#</th>
            <th scope="col">Assignment Name</th>
            <th scope="col">Uploaded By</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Assignment</th>
            <th scope="col">Status</th>
          {% else %}
            <th scope="col">#</th>
            <th scope="col">Assignment Name</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Assignment</th>
            <th scope="col">Submissions</th>
            <th scope="col"></th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
      
            {% for assignment in assignments %}
            <tr>
              {% if user.is_student %}
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{assignment.name}}</td>
                <td>{{assignment.tutor.user.username}}</td>
                <td>{{assignment.created_at}}</td>
                <td><a href="{{ assignment.file_assignment.url }}" class="btn btn-primary" target="_blank">Download</a></td>
              {% else %}
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{assignment.name}}</td>
                <td>{{assignment.created_at}}</td>
                <td><a href="{{ assignment.file_assignment.url }}" class="btn btn-primary" target="_blank">Download</a></td>
              {% endif %}

              {% if user.is_student %}
                {% getSubmittedAssignments user as submissions%}
                {% if assignment in submissions %}
                <td>
                  <form action="{% url 'submit_assignment' course_id=course.pk assignment_id=assignment.pk %}" method="GET">
                    <button style="all: unset; cursor: pointer;" name="submitted_button" 
                            type="submit" value="Submitted">
                          <a class="hoverText" style="text-decoration: none; color: black;">Submitted
                          </a>
                    </button>
                  </form>
                </td>
                {% else %}
                  <td><a href="{% url 'assignments' course_id=course.pk %}" class="btn btn-primary">Submit</a></td>
                {% endif %}

              {% else %}
                  <td><a href="{% url 'view_submissions' course_id=course.pk assignment_id=assignment.pk %}" class="btn btn-primary">View</a></td>
                  <td>
                    <form action="{% url 'view_submissions' course_id=course.pk assignment_id=assignment.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger" name="assignment_delete_button">Delete</button>
                    </form>
                  </td>
              {% endif %}
            </tr>

            {% endfor%}

      </tbody>

  </table>
  {% endif %}
  {% endif %}
</div>
<!--End Assignments-->
{% endblock %}