{% extends 'courses/course.html' %}

{% block courseContent %}
{% load static %}

<div style="margin-left: auto; margin-right: auto; width:75%; margin-top: 5%; position: relative; margin-bottom: 5px;">
  <img class="col-sm-4 col-md-4 col-lg-4" src="{% static 'img/submitted.png' %}"
       style="width:8%;">

  <div class="col-sm-8 col-md-8 col-lg-8" style="display: inline-block; position:absolute; bottom: 5px;">
    <h5 style="margin-left: 4%; letter-spacing: 2px;">SUBMITTED ASSIGNMENTS</h5>
  </div>
</div>

<hr style="width: 80%; margin-left: auto; margin-right: auto; background-color: black;
           opacity: 1; margin-top: 0; margin-bottom: 4%; height: 2px;">

{% if course %}

  <div class="row" style="width:60%; margin-left: auto; margin-right: auto; margin-top: 3%; margin-bottom: 3%;">
      {% block submissionBlock %}
      <div class="card" style="border-radius: 0; padding: 10px;">
        <p style="font-size: large;">Choose an assignment to view details.</p>
      </div>
      {% endblock %}
  </div>

  <div class="row positionCenter" style="margin-top: 2%; margin-bottom: 3%;">
        <table class="table table-sm table-bordered" style="font-size:15px;">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Assignment Name</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Assignment</th>
                <th scope="col">Status</th>
                <th scope="col">Grade</th>
              </tr>
            </thead>
      
            <tbody>
            
                  {% for assignment in assignments %}
                  <tr>
                      <td scope="row">{{ forloop.counter }}</td>
                      <td>{{assignment.name}}</td>
                      <td>{{assignment.tutor.user.username}}</td>
                      <td>{{assignment.created_at}}</td>
                      <td><a class="hoverTextRed" href="{{ assignment.file_assignment.url }}" style="text-decoration: none; color: darkblue;"
                             target="_blank">Download</a></td>

                    {% load tag %}
                    {% getSubmissionsByUser user as submissions %}
                    {% getAssignmentsBySubmissions submissions as assignment_list %}
                    {% if assignment in assignment_list %}
                      <td>
                        <form action="{% url 'submit_assignment' course_id=course.pk assignment_id=assignment.pk %}" method="GET">
                          <button style="all: unset; cursor: pointer;" name="submitted_button" 
                                  type="submit" value="Submitted">
                                <a class="hoverText" style="text-decoration: none; color: black;">Submitted
                                </a>
                          </button>
                        </form>
                      </td>

                      <td>{{ submissions|getGrade:assignment }}</td>

                      
                    {% else %}
                      <td><a class="hoverTextRed" href="{% url 'submit_assignment' course_id=course.pk assignment_id=assignment.pk %}"
                        style="text-decoration: none; color: darkblue;">Submit</a></td>
                        <td>Not graded</td>
                    {% endif %}
      
                  </tr>
                  {% endfor%}
      
            </tbody>
  
        </table>

  </div>

{% endif %}


{% endblock %}



<!--Submit Assignment-->
  

<!--End Submit Assignment-->