<!--Assignments-->
<div id="assignmentsDiv" class="positionCenter" style="display: none">

{% if course %}

{% load tag %}
{% getAssignments course as assignments%}
  {% if assignments|length == 0 %}
          <h2 style="text-align: center;">There are no assignments!</h2>
  {% else %}
  <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Assignment Name</th>
          <th scope="col">Uploaded By</th>
          <th scope="col">Upload Date</th>
          <th scope="col">Assignment</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <tbody>
      
            {% for assignment in assignments %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{assignment.name}}</td>
                <td>{{assignment.tutor.user.username}}</td>
                <td>{{assignment.created_at}}</td>
                <td><a href="{{ assignment.file_assignment.url }}" class="btn btn-primary" target="_blank">Download</a></td>

              {% getSubmittedAssignments user as submissions%}
              {% if assignment in submissions %}
              <td>
                <form action="{% url 'submit_assignment' course_id=course.pk assignment_id=assignment.pk %}" method="GET">
                  <button style="all: unset; cursor: pointer;" name="submitted_button" 
                          type="submit" value="Submitted">
                        <a class="hoverText" style="text-decoration: none; color: black;">Submitted
                        </a>
                  </button>
                </form>
              </td>
              {% else %}
                <td><a href="{% url 'assignments' course_id=course.pk %}" class="btn btn-primary">Submit</a></td>
              {% endif %}

            </tr>

            {% endfor%}

      </tbody>

  </table>
  {% endif %}
  {% endif %}
</div>
<!--End Assignments-->