{% extends 'courses/dashboard.html' %}

{% block content_courses %}

<div class="courseWallpaper" style="position: relative;">
  <div class="banner1">
    {% load static %}
    <img id="home-wallpaper" src="{% static 'img/home-wallpaper.jpg' %}" alt="home">
    {% if course %}

        <div class="card courseCard">
            <img src="{{course.image.url}}" class="card-img-top courseCover" alt="Cover">

            <div style="position: absolute; margin: 20px 0 0 40px;">
              <span class="badge bg-success" style="margin-right: 10px;">High quality course</span>
              <span class="badge bg-danger">Certified Tutors</span>
            </div>

            <div style="position: absolute; margin: 20px 40px 0 0; right: 0;">
              <i class="fa-solid fa-star" style="color: rgb(222, 191, 12); margin-left: 10px;"></i>
              <i class="fa-solid fa-star" style="color: rgb(222, 191, 12);"></i>
              <i class="fa-solid fa-star" style="color: rgb(222, 191, 12);"></i>
              <i class="fa-solid fa-star" style="color: rgb(222, 191, 12);"></i>
              <i class="fa-solid fa-star" style="color: rgb(222, 191, 12);"></i>
            </div>

              <div class="card-body ">
                <h1 style="text-align: center; color: white;">Welcome to</h1>
                <h4 class="card-title courseDetails" style="text-align: center; color: white; text-decoration-line: underline;">
                {{course.name}}</h4>
                <div>
                  <p class="courseDetails" style="font-size: 100%; text-align: center; margin-top: 40px;">{{course.summary}}</p>
                </div>
              </div>


        </div>

    {% endif %}

  </div>
  <!--Meni-->
<div class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul id="meniItems" class="navbar-nav" style="margin: auto;">
      <li id="buttonQuestions" class="nav-item meniButtonColor">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-question" style="margin-right: 5px;"></i>Questions</a>
      </li>
      <li id="buttonPosts" class="nav-item active meniButtonColor">
        <a class="nav-link" style="margin:0 25px 0 25px;" href="#">
          <i class="fa-solid fa-house"></i>
          Posts</a>
      </li>
      <li class="nav-item meniButtonColor">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-list-check" style="margin-right: 5px;"></i>Assignments</a>
      </li>
    </ul>
  </div>
</div>
<!--End Meni-->
</div>

{% include 'courses/posts.html' with notices=notices %}

{% include 'courses/questions.html' %}

{% endblock %}