<!--List of Notices and Materials-->
<div id="posts" class="container" style="width: 100%; 
height: fit-content; margin-top: 20px; margin-bottom: 20px;">

 <!--Post Form-->
 {% if user.is_tutor %}
 <div class="containerWithBorder">
   <div class="row" style="margin-bottom: 5px; height: fit-content;">
     <!--<i class="fa-solid fa-circle-user fa-3x" style="margin: 5px;"></i>-->
     <div class="form-outline w-100" style="position: relative;">
       <i class="fa-regular fa-comment-dots fa-2x" style="margin: 25px 8px 8px 25px;"></i>
       <h4 style="display: inline-block; position: absolute; top: 25px; margin-left: 5px;">Create a post</h4>
       <br>
 
       <form enctype="multipart/form-data" action="{% url 'tutor_course' course_id=course.pk%}" method="POST" style="margin: 25px;">
         {% csrf_token %}
         <p> <label >{{ post_form.name.label_tag }}</label> <br>  {{ post_form.name }}</p>
         <p> <label >{{ post_form.text.label_tag }}</label> <br>  {{ post_form.text }}</p>
         <label>{{ material_form.material.label_tag }}</label> <br></p>
         <p>{{ material_form.material }}</p>
 
         <div class="float-end mt-2 pt-1">
           <button type="submit" class="btn btn-primary btn-sm" name="post_button" style="margin-bottom: 25px;">Post</button>
         </div>
       </form>
 
     </div>
   </div>
 </div>
 {% endif %}
   <!--End Post Form-->

  {% if notices %}

  {% for post in notices %}

  <div class="container containerWithBorder">
 
    <div class="row" style="height: fit-content; padding: 5px;">
      <div class="cols-sm-6 col-md-6 col-lg-6" style=" height: fit-content;">
        <h3 style="margin: 5px;">{{ post.name }}</h3>
      </div>
      <div class="cols-sm-2 col-md-2 col-lg-2">
      </div>
      <div class="cols-sm-4 col-md-4 col-lg-4" style="height: fit-content; position: relative;">
        <p style="text-align: right;margin: 5px 25px 5px 5px; font-size: small;">{{ post.tutor.user.username }}<br>{{ post.created_at }}</p>
        {% if user.is_tutor %}
        <!--Delete-->
        <div style="position: absolute; right:10px; top: 3px;">
          <ul style="list-style-type: none;">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form method="POST">
                    {% csrf_token %}
                    <button class="dropdown-item" name="delete_post_button" type="submit" value="Delete">Delete</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--End Delete-->
        {% endif %}
      </div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
      <div style="height: fit-content;">
        <p style="margin: 5px; word-wrap: break-word; text-align: justify; padding: 0;">{{ post.text }}</p>
      </div>
    </div>

    {% load tag %}
    <div class="row" style="padding: 5px;">

        {% getMaterials post as materials %}
        {% for material in materials %}

        <div class="cols-sm-10 col-md-10 col-lg-10" style="height: fit-content; position: relative;">

          <div style="background-color: #af1313; height: fit-content;width: fit-content; padding: 8px; border-radius: 5px;
          display: inline-block; margin: 10px;">
          <i style="color: white;" class="fa-regular fa-file fa-2x"></i>
          </div>
          <a href="{{ material.material.url }}" class="verticalCenter" style="font-size:small">{{ material.material.url }}</a>
        </div>

        {% endfor %}

    </div>
  </div>

  {% endfor %}
  {% endif %}
</div>
<!--End of List-->
