<!--List of Notices and Materials-->
{% load static %}
<div id="posts" class="container" style="width: 100%; 
height: fit-content; margin-top: 20px; margin-bottom: 20px;">

    <div style="margin-left: auto; margin-right: auto; width:75%; margin-top: 5%; position: relative;">
      <img class="col-sm-4 col-md-4 col-lg-4" src="{% static 'img/materials.png' %}"
           style="width:7%;">

      <div class="col-sm-8 col-md-8 col-lg-8" style="position:absolute; bottom: 12px; display: inline-block;">
        <h5 style="margin-left: 2%; letter-spacing: 2px;">POSTS AND MATERIALS FOR THE COURSE</h5>
      </div>
    </div>

    <hr style="width: 80%; margin-left: auto; margin-right: auto; background-color: black;
               opacity: 1; margin-top: 0; margin-bottom: 6%; height: 2px;">

 <!--Post Form-->
 {% if user.is_tutor %}
 <div class="containerWithBorder" style="min-width: 500px;">
   <div class="row" style="margin-bottom: 5px; height: fit-content;">
     <div class="form-outline w-100" style="position: relative;">

      <div style="background-color: #24242c;">
       <i class="fa-regular fa-comment-dots fa-2x" style="margin: 25px 8px 25px 25px; color: white;"></i>
       <h4 style="display: inline-block; position: absolute; top: 25px; margin-left: 5px; color: white;">Create a post</h4>
      </div>
 
       <form enctype="multipart/form-data" action="{% url 'tutor_course' course_id=course.pk%}" method="POST" style="margin: 25px;">
         {% csrf_token %}

         <p> <label >{{ post_form.name.label_tag }}</label> <br>  {{ post_form.name }}</p>
         {% if post_form.name.errors %}
         <ul class="errorlist">
          {% for error in post_form.name.errors %}
              <li style="color: #ff0000;">{{ error }}</li>
          {% endfor %}
         </ul>
         {% endif %}

         <p> <label >{{ post_form.text.label_tag }}</label> <br>  {{ post_form.text }}</p>
         {% if post_form.text.errors %}
         <ul class="errorlist">
          {% for error in post_form.text.errors %}
              <li style="color: #ff0000;">{{ error }}</li>
          {% endfor %}
         </ul>
         {% endif %}

         <label>{{ material_form.material.label_tag }}</label> <br></p>
         <p>{{ material_form.material }}</p>
 
         <div class="float-end mt-2 pt-1">
           <button type="submit" class="btn btn-primary btn-sm" name="post_button" style="margin-bottom: 25px;">Post</button>
         </div>
       </form>
 
     </div>
   </div>
 </div>
 {% endif %}
   <!--End Post Form-->

  {% if notices %}

  {% for post in notices %}

  <div class="container containerWithBorder" style="padding: 15px; min-width: 500px;">
 
    <div class="row" style="height: fit-content; padding: 5px; min-width: 500px;">

    <div class="cols-sm-6 col-md-6 col-lg-6" style=" height: fit-content;">
      <div>
          <img src="{% static 'img/tutor.png' %}" style="height: 45px; display: inline-block; position: relative; top: -15px;">

          <div style="display: inline-block;">
            <p style="margin: 5px; text-align: left; font-weight: bold;">{{ post.name }}<br>
            <span style="font-size: small; text-align: left; color: gray; font-weight:lighter">{{ post.tutor.user.username }}</span></p>
          </div>
        </div>
    </div>

      <div class="cols-sm-6 col-md-6 col-lg-6" style="height: fit-content; position: relative;">
        <p style="text-align: right;margin: 5px 25px 5px 5px; font-size: small;">{{ post.created_at }}</p>
        {% if user.is_tutor %}
        {% if user.username == post.tutor.user.username %}
        <!--Delete-->
        <div style="position: absolute; right:10px; top: 3px;">
          <ul style="list-style-type: none;">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form action="{% url 'tutor_course' course_id=course.pk post_id=post.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="dropdown-item" name="delete_post_button" type="submit" value="Delete">Delete</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--End Delete-->
        {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row" style="padding: 5px 5px 0px 5px;">
      <div style="height: fit-content;">
        <p style="word-wrap: break-word; text-align: justify;">{{ post.text }}</p>
      </div>
    </div>

    {% load tag %}
    <div class="row" style="padding: 5px 5px 0px 5px;">

        {% getMaterials post as materials %}
        {% for material in materials %}

        <div class="cols-sm-10 col-md-10 col-lg-10" 
             style="height: fit-content; position: relative; min-width: 300px; max-width: fit-content;
               padding: 0px; margin-left: 15px; border: 1px solid #8080807d; border-radius: 5px;">

          <div style="height: fit-content; border-radius: 5px; display: inline-block; margin: 10px;">
            <img src="{% static 'img/attachment.png' %}" style="height: 45px;">
          </div>
          <a href="{{ material.material.url }}" class="verticalCenter" style="font-size:small">{{ material.filename }}</a>
        </div>

        {% endfor %}

    </div>
  </div>

  {% endfor %}
  <div style="height: 100px; width: 100%;"></div>
  {% else %}
  <h2 style="text-align: center;">There are no posts yet!</h2>
  {% endif %}
</div>
<!--End of List-->
