{% extends 'courses/course.html' %}


{% block courseContent%}
{% load static %}

<div style="margin-left: auto; margin-right: auto; width:75%; margin-top: 5%; position: relative; margin-bottom: 5px;">
  <img class="col-sm-4 col-md-4 col-lg-4" src="{% static 'img/question.png' %}"
       style="width:6%;">

  <div class="col-sm-8 col-md-8 col-lg-8 availableCourses">
    <h5 class="title">Q&A SECTION FOR STUDENTS</h5>
  </div>
</div>

<hr style="width: 80%; margin-left: auto; margin-right: auto; background-color: black;
           opacity: 1; margin-top: 0; margin-bottom: 6%; height: 2px;">

<!--List of Questions-->
<div id="questions" class="container" style="width: 100%; 
height: fit-content; margin-top: 20px; margin-bottom: 20px;">

<!--Add Question-->
<div id="addQuestions" class="containerWithBorder" style="min-width: 475px;">
  <div class="row" style="margin-bottom: 5px; height: fit-content;">
    <!--<i class="fa-solid fa-circle-user fa-3x" style="margin: 5px;"></i>-->
    <div class="form-outline w-100" style="position: relative;">

      <div style="background-color: #24242c;">
      <i class="fa-regular fa-comment-dots fa-2x" style="margin: 25px 8px 25px 25px; color: white;"></i>
      <h4 style="display: inline-block; position: absolute; top: 25px; margin-left: 5px; color: white;">Leave a question</h4>
      </div>


        <form action="{% url 'view_questions_tutor' course_id=course.pk %}" method="POST" style="margin: 25px;">
          {% csrf_token %}

        <p> <label>{{ question_form.title.label_tag }}</label>{{ question_form.title }}</p>
        {% if question_form.title.errors %}
         <ul class="errorlist">
          {% for error in question_form.title.errors %}
              <li style="color: #ff0000;">{{ error }}</li>
          {% endfor %}
         </ul>
        {% endif %}

        <div class="form-group">
        <p> <label >{{ question_form.text.label_tag }}</label> <br>  {{ question_form.text }}</p>
        </div>
        {% if question_form.text.errors %}
         <ul class="errorlist">
          {% for error in question_form.text.errors %}
              <li style="color: #ff0000;">{{ error }}</li>
          {% endfor %}
         </ul>
        {% endif %}

        <div class="float-end mt-2 pt-1" style="margin-bottom: 15px;">
          <button type="submit" class="btn btn-primary btn-sm" name="question_button">Post a question</button>
        </div>
        </form>

    </div>
  </div>
</div>
<!--End Add Question-->

{% if questions %}
{% for question in questions %}

<div class="container containerWithBorder" style="padding: 15px; min-width: 475px;">

  <div class="row" style="margin-bottom: 5px; height: fit-content; position: relative;">

    <div style="width: auto; height: fit-content;">
      <img src="{% static 'img/tutor.png' %}" style="height: 45px; display: inline-block; position: relative; top: 5px">
    </div>
    <div style=" height: fit-content; padding: 0;width:auto;display:inline-block">
      <p style="margin: 5px; text-align: left;">{{ question.user.username }}<br>
      <span style="font-size: small; text-align: left; color: gray;">{{ question.created_at }}</span></p>
    </div>
    <!--Delete-->
    {% if user.username == question.user.username %}
    <div style="position: absolute; right:10px; top: 5px; width: auto;">
      <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <form action="{% url 'view_questions_tutor' course_id=course.pk question_id=question.pk %}" method="POST">
                {% csrf_token %}
                <button class="dropdown-item" name="delete_question_button" type="submit" value="Delete">Delete</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    {% endif %}
    <!--End Delete-->
    <div style="text-align: justify; margin-top: 25px; margin-bottom: 5px;">
      <h4>{{ question.title }}</h4>
    </div>
    <div style="height: fit-content;">
      <p class="breakText">{{ question.text }}</p>
    </div>
    <div style="position: relative; width: 100%; height: 50px; margin-top: 10px;">
      <button type="button" id="replyButton{{question.pk}}" data-bs-toggle="modal" data-bs-target="#exampleModalLong{{question.pk}}"
              class="btn btn-primary btn-sm" 
              style="width: fit-content; bottom: 0; right: 0; position: absolute; margin: 15px 15px 0px 15px;">
      Reply</button>
    </div>

  </div>
  <!--Answers-->
  {% load tag %}
  {% getAnswers question as answers %}
  <div class="modal fade" id="exampleModalLong{{question.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle{{question.pk}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle{{question.pk}}">Answers</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Content-->
    <div id="divAnswers" class="closePopupS" >
      <div class="row">

          <!--Answer Form-->
          <form action="{% url 'view_questions_tutor' course_id=course.pk question_id=question.pk %}" method="POST" class="formaZaodg" style="margin-top: 5px;">
            {% csrf_token %}
            <div class="form-group">
            <p> <label >{{ answer_form.text.label_tag }}</label> <br>  {{ answer_form.text }}</p>
            <input type="hidden" name="button" value="reply_button">
            </div>
            
            <div id="erroriUOdg">
              {% include 'courses/error_form.html' with answer_form=answer_form %}
            </div>

            <div class="float-end mt-2 pt-1">
              <button type="submit" class="btn btn-primary btn-sm" name="reply_button">Post the answer</button>
            </div>
          </form>
          <!--End Answer Form-->

          <div id="answersBox">
            {% include 'courses/answers.html' with answers=answers %}
          </div>

      </div>
    </div>
          <!--Content End-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--End of Answers-->
</div>

{% endfor %}
{% else %}
<h2 style="text-align: center;">There are no questions yet!</h2>
{% endif %}

</div>
<div style="height:200px">

</div>
<!--End of Questions-->

{% endblock %}