{% extends 'courses/course.html' %}
{% load static %}

{% block courseContent %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

{% if course %}
    <div style="margin-left: auto; margin-right: auto; width:60%; border: 1px solid lightgrey;
                margin-top: 7%; padding: 2%; background-color: white;">
      <img class="col-sm-4 col-md-4 col-lg-4" src="{% static 'img/submission-icon.png' %}" style="width:15%; display: inline-block;">

      <div class="col-sm-8 col-md-8 col-lg-8" style="display: inline-block;">
        <p style="margin-left: 2%;">View and grade student submitted assignments</p>
      </div>
    </div>

{% if submissions %}

    <div class="positionCenter" style="margin-top: 5%;">
        <table class="table table-sm table-bordered" style="font-size:15px;">
            <thead class="table-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Assignment Name</th>
                <th scope="col">Submission</th>
                <th scope="col">Student</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Grade</th>
                <th scope="col">Input grade</th>
                </tr>
            </thead>
        
            <tbody>
            
                {% for submission in submissions %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>{{submission.assignment.name}}</td>
                        <td><a class="hoverTextRed" href="{{ submission.file_submission.url }}" style="text-decoration: none; color: darkblue;"
                            target="_blank">Download</a></td>
                        <td>{{submission.student.user.username}}</td>
                        <td>{{submission.created_at}}</td>

                        {% if submission.grade %}
                        <td>{{submission.grade}}</td>
                        {% else %}
                        <td>Not graded</td>
                        {% endif %}

                        <td>
                            <form enctype="multipart/form-data"
                                action="{% url 'view_submissions' course_id=course.pk assignment_id=submission.assignment.pk submission_id=submission.pk %}" method="POST">
                                {% csrf_token %}
                                <p style="font-size: large;"> <label >{{ submission_form.grade.label_tag }}</label> <br></p>
                                <p>{{ submission_form.grade }}</p>
                                <button type="submit" class="btn btn-primary btn-sm" name="grade_button">Submit</button>
                            </form>
                        </td>

                    </tr>
                {% endfor%}
        
            </tbody>
    
        </table>
    </div>
{% else %}
    <div class="card" style="border-radius: 0; padding: 10px; margin-top: 2%; width: 60%; margin-left: auto; margin-right: auto;">
        <p style="font-size: large;">There are no submitted assignments.</p>
    </div>
{% endif %}

{% endif %}

{% endblock %}