{% extends 'courses/assignments_details.html' %}

{% block submissionBlock %}
{% if course %}
{% if assignment %}
<div class="card" style="padding: 10px; border-radius: 0;">
    <h5>Upload to: <span style="text-decoration: underline;">{{assignment.name}}</span></h5>
    <br>
    <form enctype="multipart/form-data" action="{% url 'submit_assignment' course_id=course.pk assignment_id=assignment.pk %}" method="POST">
        {% csrf_token %}
        <p style="font-size: large;"> <label >{{ submit_form.file_submission.label_tag }}</label> <br></p>
        <p>  {{ submit_form.file_submission }}</p>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}