{% extends 'courses/dashboard.html' %}

{% block content_courses %}

<div class="courseWallpaper" style="position: relative;">

  <div class="banner1">
    {% load static %}
    <img id="home-wallpaper" src="{% static 'img/home-wallpaper.jpg' %}" alt="home">
    {% if course %}

        <div class="card courseCard">
            <img src="{{course.image.url}}" class="card-img-top courseCover" alt="Cover">
        <div class="card-body " style="text-align: center;">
          <h3 class="card-title courseDetails">{{course.name}}</h3>
          <p class="courseDetails" style="margin-top: 30px;">{{course.summary}}</p>
        </div>
        </div>

    {% endif %}

  </div>
  <!--Course Meni-->
  <div class="container courseDetails" style="position:absolute; bottom: 20px; width: 100%; left:0; right: 0;">

    <div class="row centerCourses">
      <div style="width: fit-content;">
        <div id="buttonPosts" class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Posts</p>
          </div>
        </div>

        <div id="buttonQuestions" class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Questions</p>
          </div>
        </div>

        <div class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Nesto</p>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <!--Course Meni End-->
</div>

<!--List of Notices and Materials-->
<div id="posts" class="container" style="width: 100%; 
height: fit-content; margin-top: 20px; margin-bottom: 20px;">

  {% if notices %}
  {% for post in notices %}

  <div class="container" style="margin-left: auto; margin-right: auto; width: 70%;
   border: 1px solid lightgray; margin-bottom: 10px; border-radius: 5px;
   box-shadow: 4px 5px 10px 2px rgba(0,0,0,.2); background-color: white;">
 
    <div class="row" style="margin-bottom: 5px; height: fit-content;">
      <div class="cols-sm-6 col-md-6 col-lg-6" style=" height: fit-content;">
        <h3 style="margin: 5px;">{{ post.name }}</h3>
      </div>
      <div class="cols-sm-2 col-md-2 col-lg-2">
      </div>
      <div class="cols-sm-4 col-md-4 col-lg-4" style=" height: fit-content;">
        <p style="text-align: right;margin: 5px; font-size: small;">{{ post.tutor.user.username }}<br>{{ post.created_at }}</p>
      </div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
      <div style="height: fit-content;">
        <p style="margin: 5px; word-wrap: break-word; text-align: justify; padding: 0;">{{ post.text }}</p>
      </div>
    </div>

    {% load tag %}
    <div class="row">

        {% getMaterials post as materials %}
        {% for material in materials %}

        <div style="height: fit-content; position: relative;">

          <div style="background-color: #af1313; height: fit-content;width: fit-content; padding: 8px; border-radius: 5px;
          display: inline-block; margin: 10px;">
          <i style="color: white;" class="fa-regular fa-file fa-2x"></i>
          </div>
          <a href="{{ material.material.url }}" class="verticalCenter" style="font-size:small">{{ material.material.url }}</a>
        </div>

        {% endfor %}

    </div>
    

  </div>

  {% endfor %}
  {% endif %}
</div>
<!--End of List-->

<!--List of Questions-->
<div id="questions" class="container" style="display:none; width: 100%; 
height: fit-content; margin-top: 20px; margin-bottom: 20px;">

{% if questions %}
{% for question in questions %}

<div class="container" style="margin-left: auto; margin-right: auto; width: 70%;
 border: 1px solid lightgray; margin-bottom: 10px; border-radius: 5px;
 box-shadow: 4px 5px 10px 2px rgba(0,0,0,.2);background-color: white;">

  <div class="row" style="margin-bottom: 5px; height: fit-content; position: relative;">

    <div style="display: inline-block; width: fit-content; height: fit-content; margin: 10px 0 0 0;">
      <i class="fa-solid fa-circle-user fa-2x"></i>
    </div>
    <div style=" height: fit-content; padding: 0;width:fit-content;display:inline-block">
      <p style="margin: 5px; text-align: left;">{{ question.student.user.username }}<br>
      <span style="font-size: small; text-align: left; color: gray;">{{ question.created_at }}</span></p>
    </div>
    <div style="text-align: justify; margin-top: 25px; margin-bottom: 5px;">
      <h4>{{ question.title }}</h4>
    </div>
    <div style="height: fit-content;">
      <p style="word-wrap: break-word; text-align: justify; padding: 0;">{{ question.text }}</p>
    </div>
    <div style="position: relative; width: 100%; height: 50px; margin-top: 10px;">
      <button type="button" id="replyButton" data-bs-toggle="modal" data-bs-target="#exampleModalLong"
              class="btn btn-primary btn-sm" 
              style="width: fit-content; bottom: 0; right: 0; position: absolute; margin: 15px 15px 10px 15px;">
      Reply</button>
    </div>
  
  </div>
<!--Answers-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Answers</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Content-->
        {% load tag %}
  <div id="divAnswers" class="closePopupS" >
    <div class="row">

        {% getAnswers question as answers %}
        {% for answer in answers %}

        <div class="d-flex flex-start" style="margin: 10px 0 10px 0;">
          <i class="fa-solid fa-circle-user fa-3x" style="margin-right: 15px;"></i>
          <div>
            <h6 class="fw-bold mb-1">{{ answer.user.username }}</h6>
            <div class="d-flex align-items-center mb-3">
              <p class="mb-0">
                {{ answer.created_at }}
              </p>
            </div>
            <p class="mb-0" style="max-width: 500px;word-wrap: break-word;">
              {{ answer.text }}
            </p>
          </div>
        </div>

      <hr class="my-0" />

        {% endfor %}

    </div>
  </div>
        <!--Content End-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--End of Answers-->
</div>

{% endfor %}
{% endif %}

</div>
<!--End of Questions-->

{% endblock %}