{% extends 'courses/dashboard.html' %}

{% block content_courses %}

<div class="courseWallpaper" style="position: relative;">

  <div class="banner1">
    {% load static %}
    <img id="home-wallpaper" src="{% static 'img/home-wallpaper.jpg' %}" alt="home">
    {% if course %}

        <div class="card courseCard">
            <img src="{{course.image.url}}" class="card-img-top courseCover" alt="Cover">
        <div class="card-body " style="text-align: center;">
          <h3 class="card-title courseDetails">{{course.name}}</h3>
          <p class="courseDetails" style="margin-top: 30px;">{{course.summary}}</p>
        </div>
        </div>

    {% endif %}

  </div>
  <!--Course Meni-->
  <div class="container courseDetails" style="position:absolute; bottom: 20px; width: 100%; left:0; right: 0;">

    <div class="row centerCourses">
      <div style="width: fit-content;">
        <div id="buttonPosts" class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Posts</p>
          </div>
        </div>

        <div class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Questions</p>
          </div>
        </div>

        <div class="card" style="background-color: gray; border: 2px solid white; display: inline-block; margin: 10px;">
          <div class="card-body text-center" style="padding-top: 8px; padding-bottom: 8px;">
            <p class="card-text">Nesto</p>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <!--Course Meni End-->
</div>

<!--List of Notices and Materials-->
<div id="posts" class="container" style="display:none; width: 100%; height: fit-content; margin-top: 20px; margin-bottom: 20px;">

  {% if notices %}
  {% for post in notices %}

  <div class="container" style="background-color: bisque; margin-left: auto; margin-right: auto; width: 70%; height: 400px;">
 
    <div class="row" style="margin-bottom: 5px; height: fit-content; background-color: pink;">
      <div class="cols-sm-6 col-md-6 col-lg-6" style=" height: fit-content; background-color: lightcoral;">
        <h3 style="margin: 5px;">{{ post.name }}</h3>
      </div>
      <div class="cols-sm-2 col-md-2 col-lg-2">
      </div>
      <div class="cols-sm-4 col-md-4 col-lg-4" style=" height: fit-content; background-color: lightblue;float:right">
        <p style="text-align: right;margin: 5px;">{{ post.tutor.user.username }}<br>{{ post.created_at }}</p>
      </div>
    </div>

    <div class="row">
      <div style="background-color: lightslategray; height: fit-content;">
        <p style="text-align: justify; margin: 5px;">{{ post.text }}</p>
      </div>
    </div>

    {% load tag %}
    <div class="row">
      <div style="background-color: aquamarine; height: fit-content;">
        {% getMaterials post as materials %}
        {% for material in materials %}
        <p>{{ material.material.url }}</p>
        {% endfor %}
      </div>
    </div>
    

  </div>

  {% endfor %}
  {% endif %}
</div>
<!--End of List-->

{% endblock %}